*{
    padding: 0;
    margin: 0;
}
.book-detail-body{
    height: 600px;
    margin-top: 10px;
    overflow: ;
    background-color: blanchedalmond;
}
.book-detail-body-sigment{
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}